@use '../../../styles/variables.module' as *;

.linkItemWrap {
    display:flex;
    margin-bottom:15px;

    &:last-child {
        margin-bottom:0;
    }

    &:hover .linkBtn {
        color:#FFF;
        background:$crimsonBrown !important;

        .linkIcon {
            background:$light-crimsonBrown !important;
        }
    }
}

.linkBtn {
    position:relative;
    width:100%;
    padding:20px 0px;
    color:#FFF;
    background:$sand;
    box-sizing: content-box;
    font-size:$fontSize-body;
    font-family: $font-itim;
    text-align:center;
    text-decoration:none;
    @include objectRadius('rounded-btn');
    transition: background 250ms linear;
}

.linkIcon {
    position:absolute;
    left:5px;
    top:4.5px;
    height:50px;
    line-height:55px;
    width:50px;
    background:$light-quirk;
    @include objectRadius('rounded-btn');
    box-sizing: content-box;
    box-shadow:5px 15px 20px rgba(0, 0, 0, 0.1);   
    transition: background 250ms linear;
}