@use '../../../styles/variables' as *;

.linkItemWrap {
    display:flex;
    margin-bottom:15px;

    &:last-child {
        margin-bottom:0;
    }

    &:hover .linkIcon a {
        color:#FFF;
        background:$quirk
    }

    &:hover .linkBtn {
        color:#FFF;
        background:$quirk;
        background:$sand;
    }
}

.linkBtnWithIcon {
    border-top-left-radius:0px !important;
    border-bottom-left-radius:0px !important;
}

.linkBtn {
    width:100%;
    padding:20px 0px;
    color:#FFF;
    background:$quirk;
    box-sizing: content-box;
    font-size:$fontSize-body;
    font-family: $font-itim;
    text-align:center;
    text-decoration:none;
    @include objectRadius('rounded-btn');
    transition: background 200ms linear;
}

.linkIcon {
    flex:1;
    box-sizing: content-box;
    
    a {
        display:flex;
        align-items: center;
        justify-content: center;
        height:59px;
        width:59px;
        border-top-left-radius:50%;
        border-bottom-left-radius:50%;
        background:rgba($sand, .2);
        text-decoration: none;
        font-size:1.5rem;
        color:$quirk;
        transition: background linear 250ms, color linear 250ms;
    }
}