@use '../../../styles/variables' as *;

.bannerModule {
    position:fixed;
    bottom:0;
    right:0;
    left:0;
    // height:15%;
    // line-height:15%;
    padding:15px 0px;
    text-align:center;
    background:$forest;
    width: 100%;
    border:none;

    &:hover p, &:hover svg {
        color:#FFF;
    }

    p, svg{
        display:inline-block;
        color:$sand;
        transition: color linear 250ms;
    }
    
    p {
        font-size:1.3rem;
        font-family:$font-itim;
    }
    
    svg {
        font-size:22px;
        margin-left:5px;
        margin-bottom:-6px;
    }
}