@use '../../../styles/variables' as *;

.bannerModule {
    position:fixed;
    bottom:0;
    right:0;
    left:0;
    // height:15%;
    // line-height:15%;
    padding:15px 0px;
    text-align:center;
    background:$forest;
    width: 100%;
    border:none;

    p, svg{
        display:inline-block;
        color:$sand;
    }
    
    p {
        // font-size:1.1rem;
        font-size:2.5vmax;
        font-family:'Poppins', sans-serif;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
    
    svg {
        font-size:25px;
        margin-bottom:-6px;
    }
}