// Font
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap');

// Color Palette
$nude:          #FEF2E8;
// $sand:          #F7BBA9;
$sand:          #F7BBA9;
$quirk:         #f6a998;
$crimsonBrown:  #B66A5F;
$brown:         #A16346;
$forest:        #1E5062;
$black:         #1A1423;

// Sizes
// -- Button Sizes
$smol-btn: 50px;

// Mixins
@mixin objectMiniShadow($type) {
    @if $type == 'minimal' {
        box-shadow:0px 15px 20px rgba(0, 0, 0, 0.12);
    }
    @else if $type == 'noticable' {
        box-shadow:0px 10px 20px rgba(0, 0, 0, 0.2);
    }
}

@mixin objectRadius($type) {
    @if $type == 'rounded' {
        border-radius:20px;
    }

    @else if $type == 'rounded-btn' {
        border-radius:30px;
    }

    @else if $type == 'smooth' {
        border-radius:50%;
    }

    @else if $type == 'circular' {
        border-radius:100%;
    }
}