// Font
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&display=swap');

// Color Palette
$black:         #1A1423;
$blue:          #2A2E45;
$nude:          #FEF2E8;
$crimsonBrown:  #B66A5F;
$brown:         #A16346;
$sand:          #F7BBA9;

// Sizes
// -- Button Sizes
$smol-btn: 50px;

// Mixins
@mixin objectMiniShadow($type) {
    @if $type == 'minimal' {
        box-shadow:0px 15px 20px rgba(0, 0, 0, 0.12);
    }
    @else if $type == 'noticable' {
        box-shadow:0px 10px 20px rgba(0, 0, 0, 0.2);
    }
}