// Font
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&display=swap');

$black:         #1A1423;
$blue:          #2A2E45;
$nude:          #FEF2E8;
$crimsonBrown:  #B66A5F;
$brown:         #A16346;
$sand:          #F7BBA9;