@use 'variables' as *;

body {
    background:url('../images/gfx/bg.svg');
    background-size:cover;
    background-position: center center;
}

#links {
    padding:5% 5%;
    max-width:1200px;
    margin:auto;
}