@use '../../../styles/variables' as *;

.linkHeader {
    display:flex;
    justify-content: center;
    align-items: flex-end;
    width:90%;
    max-width:750px;
    margin:auto;
    padding:5% 5% 0 5%;
    background:#FFF;

    .profilePic {
        flex:1;
        display:flex;
        justify-content: center;
        align-items: flex-start;
    }
}
