@use '../../../styles/variables' as *;

.linkHeader {
    display:flex;
    justify-content: center;
    align-items: flex-end;
    // width:95%;
    margin:auto;

    .profilePic {
        flex:1;
        display:flex;
        justify-content: flex-start;
        align-items: center;
    }

    .profileSide {
        flex:2;

        img {
            width:100%;
        }
    }
}
