@use '../../../styles/variables' as *;

.socialMedia {
    flex:2;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.socials {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:$crimsonBrown;
    height:$smol-btn;
    width:$smol-btn;
    border-radius:50%;
    font-size:22px;
    color:$nude;
    margin-right:5%;
    transition: background 200ms ease-out, box-shadow 250ms ease-out;

    &:hover {
        background:$brown;
        color:#FFF;
        @include objectMiniShadow('minimal')
    }

    &:last-child {
        margin-right:0px;
    }
}