@use '../../../styles/variables.module' as *;

.socialMedia {
    display:flex;
    justify-content: center;
    align-items: center;
}

.socials {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:$crimsonBrown;
    padding:10px;
    @include objectRadius('circular');
    font-size:22px;
    color:$nude;
    margin-right:5%;
    transition: background 500ms ease-out, box-shadow 250ms ease-out;

    &:hover {
        background:$forest;
        color:#FFF;
        @include objectMiniShadow('minimal')
    }

    &:last-child {
        margin-right:0px;
    }
}