@use '../../../styles/variables' as *;

.socialMedia {
    flex:3;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    background:rgba(purple, .4);
    height:78px;
}

.socials {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:$crimsonBrown;
    height:50px;
    width:50px;
    border-radius:50%;
    font-size:22px;
    color:$nude;
    margin-right:5%;
    transition: background 200ms ease-out;

    &:hover {
        background:$brown;
        color:#FFF;
    }

    &:last-child {
        margin-right:0px;
    }
}